<div class="row">
  <div class="col-sm-10 col-md-6">
    <div class="thumbnail">
      <img src="images/RoToJa_Logo.png" alt="...">
      <div class="caption">
        <h3>Create Or Join A Room!</h3>
        <p id="subTitle"></p>
        <form id="createRoom">
            <div>
              <input id="sessionInput"/></br>
              <p><p>
                <a href="#" class="btn btn-primary" role="button">Create It!</a>
                <a href="#" class="btn btn-default" role="button">Join</a>
              </p></p>
            </div>

        </form>
        <p></p>
      </div>
    </div>
  </div>
</div>
